@page
@model SeedLibrary.Pages.Seeds.CreateModel

@{
ViewData["Title"] = "Create";
}
<head>
    <link rel="stylesheet" type="text/css" href="css/spotlight.css">
</head>

<h1>Create</h1>
    <hr />
    <div class="row">
    <div class="col-md-4">
    <form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Seed.Name" class="control-label"></label>
                <input asp-for="Seed.Name" class="form-control" />
                <span asp-validation-for="Seed.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seed.Variety" class="control-label"></label>
                <input asp-for="Seed.Variety" class="form-control" />
                <span asp-validation-for="Seed.Variety" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seed.Year" class="control-label"></label>
                <input asp-for="Seed.Year" class="form-control" />
                <span asp-validation-for="Seed.Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seed.Date" class="control-label"></label>
                <input asp-for="Seed.Date" class="form-control" />
                <span asp-validation-for="Seed.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seed.Source" class="control-label"></label>
                <input asp-for="Seed.Source" class="form-control" />
                <span asp-validation-for="Seed.Source" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seed.Depth" class="control-label"></label>
                <input asp-for="Seed.Depth" class="form-control" />
                <span asp-validation-for="Seed.Depth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seed.Count" class="control-label"></label>
                <input asp-for="Seed.Count" class="form-control" />
                <span asp-validation-for="Seed.Count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seed.Note" class="control-label"></label>
                <input asp-for="Seed.Note" class="form-control" />
                <span asp-validation-for="Seed.Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
