.webbutton{
    background-color:#F46E15;
    color: rgb(255, 255, 255);
    border: 1px solid #dc6414;
    border-radius: 5px;
    font-size: 1vw;
    margin: 5px
}

#seedspotbut{
    background-color: #028DD0;
    border-color:  #337ab7;
}

#seedinvbut{
    background-color:  #8BC441;
    border-color:   #6c9931;
}

#content{
    padding-right: 3vh;
    border-top: 3vh solid #F46E15;
    padding: 2vh;
    margin-right: 2vh;

}

#imagecar{
    border: 5px solid #F46E15;;
    padding: 2vh;
}

h2 {
    padding: 3vh;
    font-family: 'Lato-Bold'; 
    font-size: 60px;
}