.webbutton{
    background-color:#F46E15;
    color: rgb(255, 255, 255);
    border: 1px solid #dc6414;
    border-radius: 5px;
    font-size: 1vw;
    margin: 5px
}

#seedspotbut{
    background-color: #028DD0;
    border-color:  #337ab7;
}

#seedinvbut{
    background-color:  #8BC441;
    border-color:   #6c9931;
}

.row{
    padding: 2vh;
}

.borderedcontainer{
    border: 5px solid #F46E15;
    padding: 2vh;
}

.cardspotlight{
    border: 5px solid #FDB717;
    padding: 2vh;
    margin-bottom: 2vh;
    margin-right:2vh;
}

#inseasonsquare{
    border-color: #EC373C;
}

h2 {
    padding: 2vh;
    font-family: 'Lato-Bold'; 
    font-size: 50px;
    padding-right: 3vh;
    border-bottom: 3vh solid #F46E15;
}

h3 {
    padding: 2vh;
    font-family: 'Lato-Bold'; 
    font-size: 50px;
    border-bottom: 3vh solid #EC373C;
}

button{
    padding-top: 1vh;
    padding-bottom:1vh;
}