.webbutton{
    background-color:#F46E15;
    color: rgb(255, 255, 255);
    border: 1px solid #dc6414;
    border-radius: 5px;
    font-size: 1vw;
    margin: 5px;
    transition: 0.3s;
    cursor: pointer;
}

.webbutton:hover{
    background-color: #863905;
    transform: scale(1.05);
}

#seedspotbut{
    background-color: #028DD0;
    border-color:  #337ab7;
}

#seedinvbut{
    background-color:  #8BC441;
    border-color:   #6c9931;
}

#seedinvbut:hover{
    background-color: #005117;
}

.row{
    padding: 2vh;
}

.borderedcontainer{
    border: 5px solid #337ab7;
    padding: 2vh;
}

.cardspotlight{
    border: 5px solid #8BC441;
    padding: 2vh;
    margin-bottom: 2vh;
    margin-right:2vh;
}

#inseasonsquare{
    border-color: #AAD373;
}

h2 {
    padding: 2vh;
    font-family: 'Lato-Bold'; 
    font-size: 50px;
    padding-right: 3vh;
    border-bottom: 3vh solid #F46E15;
}

h3 {
    padding: 2vh;
    font-family: 'Lato-Bold'; 
    font-size: 50px;
    border-bottom: 3vh solid #F46E15;
}

#info{
    color:white;
    background-color: #005117;
    text-decoration: none;
}

#info:hover{
    color: white;
    background-color: #AAD373;
}

button{
    padding-top: 1vh;
    padding-bottom:1vh;
}

.card{
    border-radius: 0%;
}

.btn-success{
    --bs-btn-color: #fff;
    --bs-btn-bg: #028DD0;
    --bs-btn-border-color: #028DD0;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #02538B;
    --bs-btn-hover-border-color: #02538B;
    --bs-btn-focus-shadow-rgb: 60, 153, 110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #02538B;
    --bs-btn-active-border-color: #02538B;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #028DD0;
    --bs-btn-disabled-border-color: #028DD0;
}