Brighter Green {
    color: #8BC441
}

Hover Green {
    color: #AAD373
}

Dark Green {
    color:  #005117
}

Red {
    color:  #EC373C 
}

Dark Red {
    color: #7F0C0F
}

Orange {
    color: #F46E15
}

Dark Orange {
    color: #863905;
}

Yellow {
    color:  #FDB717
}

Container_Menu {
    color: #F9B71B
}

Blue {
    color: #337ab7
}

Go Blue{
    color: #028DD0
}

Hover Blue {
    color: #02538B
}