@page
@model SeedLibrary.Pages.AdminModel

@{
    ViewData["Title"] = "Admin";
}
<head>
    <link rel="stylesheet" type="text/css" href="css/spotlight.css">
</head>
<h1>Admin Sign in Here</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <p>A big card will go here with entry fields and buttons</p>
    </div>
</div>

<div>
    <div class="row  mb-4">
        <div class="container">
                <div class="card bg-light border-success p-3">
                    <div class="form-check mb-2">
                        <p>big ol card</p>
                    </div>
                    <a asp-page="/About" class="btn btn-success">
                        Log In (doesn't do anything yet)
                    </a>
                </div>
            </div>
        </div>
    </div>
    <a asp-page="./Index">Back to Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
