@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row mb-auto">
    <div class="col-md-4">
        <h2>About Us:</h2>
        <div class="row no-gutters border mb-4">
            <div class="col p-4 mb-4 ">
                <p class="card-text">
                    The Seed Library is a program ran 
                    by the Faulkner County Library System that relies
                    on the generous contributions of donors to provide
                    seeds to anyone in the community who wants to start
                    a garden, free of charge.
                </p>
            </div>
        </div>
    </div>
</div>
