@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This website is for usage of the Faulkner County Library Garden Program to track
    their seed inventory and display it for the public to view. We do not permit
    unauthorized users to interact within the database, as it is privatized for the sole
    usage of the Seed Library program.
</p>
