@page
@using SeedLibrary.Models
@model SeedLibrary.Pages.Sources.IndexModel

@{
    ViewData["Title"] = "Sources";
}

<h2>Seed Sources</h2>
<p>
    <a asp-page="Create" class="btn btn-success mb-3">Create New Seed Source</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Source Name
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Source) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SourceName)
                </td>
            </tr>
    }
    </tbody>
</table>