@page
@using SeedLibrary.Models
@model SeedLibrary.Pages.Varieties.IndexModel

@{
    ViewData["Title"] = "Donations";
}
     <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />


<h2>Plant Varieties</h2>

<p>
    <a asp-page="Create" class="btn btn-darkgreen">Create New Plant Variety</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Plant Varieties
            </th>
            <th>
                Plant Type (Common Name)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Variety) {
        <tr>
            <td>
                @item.VarietyName
            </td>
            <td>
                @item.CommonNameName
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-page="/Plants/Index" class="btn btn-blue">Back to Plants</a>
</div>